@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --theme-1-VeryLightGray: #fafafa;
  --theme-1-VeryLightGrayishBlue: #e4e5f1;
  --theme-1-LightGrayishBlue: #d2d3db;
  --theme-1-DarkGrayishBlue: #9394a5;
  --theme-1-VeryDarkGrayishBlue: #484b6a;
  --theme-1-shadow: #00000015;

  --theme-2-VeryDarkBlue: #161722;
  --theme-2-VeryDarkDesaturatedBlue: #25273c;
  --theme-2-LightGrayishBlue: #cacde8;
  --theme-2-LightGrayishBlueHover: #e4e5f1;
  --theme-2-DarkGrayishBlue: #777a92;
  --theme-2-VeryDarkGrayishBlue: #4d5066;
  --theme-2-VeryDarkGrayishBlue: #393a4c;
  --theme-2-shadow: #00000030;

  --brightBlue: #3a7bfd;
  --checkBackground: linear-gradient(135deg, #57ddff, #c058f3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
button {
  color: var(--theme-1-DarkGrayishBlue);
}
button:hover {
  cursor: pointer;
  color: var(--theme-1-VeryDarkGrayishBlue);
}
button:focus {
  cursor: pointer;
  color: var(--brightBlue);
}
.main-header {
  min-height: 12.5rem;
  background-image: url(../images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2.5rem 1.5rem;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.title h1 {
  color: var(--theme-1-VeryLightGray);
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding-top: 0.5rem;
}
.toggle {
  outline: transparent;
  border: none;
  width: 1.625rem;
  height: 1.625rem;
  background-image: url(../icons/icon-moon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.25rem;
}
.input-field {
  background-color: var(--theme-1-VeryLightGray);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.875rem;
  border-radius: 0.375rem;
}
.input-field label {
  background: var(--theme-1-LightGrayishBlue);
  padding: 0.0625rem;
  border-radius: 2rem;
  flex-grow: 0;
}
.input-field label:hover {
  cursor: pointer;
  background: var(--checkBackground);
}
.input-field label::before {
  background-color: var(--theme-1-VeryLightGray);
  display: block;
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1rem;
}
.input-field input {
  color: var(--theme-1-VeryDarkGrayishBlue);
  background-color: transparent;
  font-weight: 500;
  font-size: 0.75rem;
  flex-grow: 1;
  outline: transparent;
  border: none;
}
.input-field input::placeholder {
  color: var(--theme-1-DarkGrayishBlue);
  font-weight: 500;
  font-size: 0.75rem;
}

/* task */
.task-field {
  background-color: var(--theme-1-VeryLightGray);
  border-bottom: 0.0625rem solid var(--theme-1-VeryLightGrayishBlue);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.875rem;
  border-radius: 0.375rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.task-description {
  flex-grow: 1;
  font-size: 0.75rem;
  overflow: hidden;
}
.task-description:hover {
  cursor: pointer;
}
.task-description.completed {
  color: var(--theme-1-VeryLightGrayishBlue);
  text-decoration: line-through;
}
.task-description.active {
  color: var(--theme-1-VeryDarkGrayishBlue);
  text-decoration: none;
}
input[type="checkbox"] {
  display: none;
}
label.checkbox {
  background: var(--theme-1-LightGrayishBlue);
  padding: 0.0625rem;
  border-radius: 2rem;
  transition: background 250ms ease-in-out;
}
label.checkbox::before {
  background-color: var(--theme-1-VeryLightGray);
  display: block;
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1rem;
}
label.checkbox:is(:hover, :focus) {
  cursor: pointer;
  background: var(--checkBackground);
}
input[type="checkbox"]:checked + label.checkbox::before {
  opacity: 0;
}
input[type="checkbox"]:checked + label.checkbox {
  background: url(../icons/icon-check.svg), var(--checkBackground);
  background-repeat: no-repeat;
  background-position: center;
}
.btn-del {
  outline: transparent;
  border: none;
  background-color: transparent;
  padding: 0.5625rem;
  background-image: url(../icons/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem;
  transition: transform 250ms ease-in-out;
}
.btn-del:is(:hover, :focus) {
  cursor: pointer;
  transform: rotate(90deg);
}

/* task container */
.task-container {
  background-color: var(--theme-1-VeryLightGrayishBlue);
  padding-inline: 1.5rem;
}
.card {
  background-color: var(--theme-1-VeryLightGray);
  transform: translateY(-1.5rem);
  border-radius: 0.375rem;
  box-shadow: 0 2rem 2rem var(--theme-1-shadow);
}
.task-info {
  background-color: var(--theme-1-VeryLightGray);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.375rem;
}
.task-info p,
.btn-clear,
.btn-filter {
  color: var(--theme-1-DarkGrayishBlue);
  font-size: 0.75rem;
  font-weight: 700;
  outline: transparent;
  border: none;
  background: transparent;
}
.task-info p,
.btn-clear {
  font-weight: 500;
}
.task-info p {
  min-width: 5rem;
}

.filter {
  background-color: var(--theme-1-VeryLightGray);
  width: 100%;
  position: absolute;
  transform: translate(-1rem, 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.375rem;
  padding: 1rem;
  transition: transform 250ms ease-in-out;
}

/* footer */
.attribution {
  padding-top: 4rem;
  color: var(--theme-1-VeryDarkGrayishBlue);
  background-color: var(--theme-1-VeryLightGrayishBlue);
}
.attribution p {
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
}
.attribution a:is(:link, :visited) {
  color: var(--brightBlue);
  text-decoration: none;
}
.attribution a:is(:hover, :active) {
  text-decoration: underline;
}

.title,
.input-field,
.card,
.task-field {
  width: 100%;
  max-width: 37.5rem;
  margin-inline: auto;
}

.dark button {
  color: var(--theme-2-DarkGrayishBlue);
}
.dark button:is(:hover) {
  cursor: pointer;
  color: var(--theme-2-LightGrayishBlueHover);
}
.dark button:is(:focus) {
  cursor: pointer;
  color: var(--brightBlue);
}
.dark .main-header {
  background-image: url(../images/bg-mobile-dark.jpg);
}
.dark .title h1 {
  color: white;
}
.dark .toggle {
  background-image: url(../icons/icon-sun.svg);
}
.dark .input-field {
  background-color: var(--theme-2-VeryDarkDesaturatedBlue);
}
.dark .input-field input::placeholder {
  color: var(--theme-2-DarkGrayishBlue);
}
.dark .input-field input {
  color: var(--theme-2-LightGrayishBlue);
}
.dark .input-field label {
  background: var(--theme-2-VeryDarkGrayishBlue);
}
.dark .input-field label:hover {
  cursor: pointer;
  background: var(--checkBackground);
}
.dark .input-field label::before {
  background-color: var(--theme-2-VeryDarkDesaturatedBlue);
}
.dark .task-field {
  background-color: var(--theme-2-VeryDarkDesaturatedBlue);
  border-bottom: 0.0625rem solid var(--theme-2-VeryDarkGrayishBlue);
}
.dark .task-description.completed {
  color: var(--theme-2-VeryDarkGrayishBlue);
}
.dark .task-description.active {
  color: var(--theme-2-LightGrayishBlue);
}
.dark label.checkbox {
  background: var(--theme-2-VeryDarkGrayishBlue);
}
.dark label.checkbox::before {
  background-color: var(--theme-2-VeryDarkDesaturatedBlue);
}
.dark label.checkbox:is(:hover, :focus) {
  cursor: pointer;
  background: var(--checkBackground);
}

.dark input[type="checkbox"]:checked + label.checkbox {
  background: url(../icons/icon-check.svg), var(--checkBackground);
  background-repeat: no-repeat;
  background-position: center;
}
.dark .task-container {
  background-color: var(--theme-2-VeryDarkBlue);
}
.dark .card {
  background-color: var(--theme-2-VeryDarkDesaturatedBlue);
  box-shadow: 0 2rem 2rem var(--theme-2-shadow);
}
.dark .task-info {
  background-color: var(--theme-2-VeryDarkDesaturatedBlue);
}
.dark .task-info p,
.dark .btn-clear {
  color: var(--theme-2-DarkGrayishBlue);
}
.dark .filter {
  background-color: var(--theme-2-VeryDarkDesaturatedBlue);
}
.dark .attribution {
  color: var(--theme-2-DarkGrayishBlue);
  background-color: var(--theme-2-VeryDarkBlue);
}
.hidden {
  display: none;
}

@media screen and (min-width: 450px) {
  .main-header {
    min-height: 18.75rem;
    background-image: url(../images/bg-desktop-light.jpg);
  }
  .dark .main-header {
    background-image: url(../images/bg-desktop-dark.jpg);
  }
  .title h1 {
    font-size: 3rem;
    padding-top: 1rem;
  }
  .toggle {
    width: 2rem;
    height: 2rem;
    background-size: contain;
  }
  .card {
    transform: translateY(-6.25rem);
  }
}
@media screen and (min-width: 550px) {
  .filter {
    position: static;
    transform: translate(0);
    padding: 0;
    width: auto;
  }
}
